.header {
  background-color: rgb(63, 68, 116);
  border: black;

}
main{
  background-color: rgb(63, 68, 116);
  border: black;

}
.footer{

  background-color: rgb(63, 68, 116);
  border: black;

}
body{
  background-color: rgb(63, 68, 116);
  border: black;

}
p{
  background-color: azure;
  border: black;

}